<% var title = "Home"; %>
<%- include('../layouts/header') %>

<div class="form-container text-center">
  <h3 class="text-success mb-4">Welcome to the Psychometric Test App</h3>
  <p>Please choose an action to get started:</p>

  <div class="d-grid gap-3 mt-4">
    <a href="/signup" class="btn btn-outline-success">Sign Up</a>
    <a href="/login" class="btn btn-outline-success">User Login</a>
    <a href="/admin-login" class="btn btn-outline-dark">Admin Login</a>
  </div>
</div>

<%- include('../layouts/footer') %>
